body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

/* ----------------- GLOBAL ELEMENT ----------------- */
.belowNavDiv {
  display: flex;
}

/* ----------------- NAVBAR ELEMENT ----------------- */
.navBarInsideDiv {
  background-color: lightgray;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0px;
}

/* ----------------- SIDEBAR ELEMENT ----------------- */
.sideBarDiv {
  background-color: lightpink;
  width: 10vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10px;
}

/* ----------------- AUTH FORM ELEMENT ----------------- */
.authFormDiv {
  margin: 50px auto;
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.login-authFormDiv {
  background-color: orange;
}

.signup-authFormDiv {
  background-color: lightskyblue;
}

/* ----------------- AUTH FORM ELEMENT ----------------- */
.homePageDiv {
  padding: 15px;
  width: 100%;
}
