body {
  font-family: sans-serif;
  margin: 0;
  background-image: url(https://ak.picdn.net/shutterstock/videos/11758880/thumb/1.jpg);
  height: 100%;
  width: 100%;
  opacity: 1;
  background-position: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 0%;
  padding-bottom: 4%;
  position: relative;
  background-size: cover;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

p {
  margin: 0;
}

* {
  text-shadow: 0r.5px 1.5px rgb(136, 135, 135);
}

h2 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

input {
  border-radius: 5px;
  box-shadow: 1px 1px rgb(46, 46, 46);
}

small {
  font-weight: 700;
}

/* ----------------- GLOBAL ELEMENT ----------------- */
.checkoutFullDiv {
  box-sizing: content-box;
  height: 100%;
  padding: 0 20px;
  padding-top: 7px;
  margin-top: 20px;
  position: relative;
  right: 170px;
  width: 112%;
  background: linear-gradient(
    rgba(221, 221, 228, 0.7),
    rgba(243, 241, 241, 0.7)
  );
  opacity: 1;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px rgb(107, 106, 106);
}

.belowNavDiv {
  display: flex;
}

.routeFullDiv {
  margin-left: 10px;
  padding: 15px;
  width: 100%;
}

.linkText {
  font-weight: bold;
  color: black;
  text-decoration: none;
  flex-direction: row;
  position: relative;
  left: 14px;
}

img.google-icon {
  position: relative;
  right: 33px;
  top: 26px;
}

.linkText:hover {
  text-decoration: underline;
}

.headerDiv {
  text-decoration: underline;
  margin-bottom: 15px;
}

/* ----------------- NAVBAR ELEMENT ----------------- */
.navBarDiv {
  position: static;
  top: 0;
  background-color: rgba(160, 160, 160, 1);
  box-shadow: 1.5px 1.5px rgb(85, 85, 85);
  opacity: 0.9;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0px;
}

.nav-position {
  position: sticky;
  box-sizing: content-box;
  height: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
}

.navBarWelcome {
  background: linear-gradient(rgb(94, 94, 94), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 25px;
}

.navBarText {
  top: 0px;
}

.linkText.sign-in {
  top: 0px;
}

.cart-img {
  margin-right: 2em;
}

.cart-qty-div {
  display: flex;
  align-items: center;
  position: relative;
  left: 16px;
}

.cart-qty {
  color: rgb(75, 75, 75);
  text-align: center;
}

.qty-container {
  background: rgb(208, 223, 233);
  width: 25px;
  border-radius: 20px;
}

.inventory {
  position: relative;
  left: 27px;
  margin-top: 0px;
  margin-bottom: 16px;
  background: linear-gradient(rgb(143, 143, 143), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

/* ----------------- SIDEBAR ELEMENT ----------------- */
.sideBarDiv {
  position: sticky;
  top: 195px;
  left: 35px;
  background-color: rgba(160, 160, 160, 1);
  opacity: 0.8;
  border-radius: 5px;
  box-shadow: 1.5px 1.5px rgb(107, 107, 107);
  opacity: 0.9;
  width: 10vw;
  min-width: 175px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10px;
}

.sideBarSelect {
  width: 80%;
  font-size: medium;
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(196, 196, 196);
  box-shadow: 0.5px 0.5px rgb(58, 58, 58);
}

.sideBarTitle {
  position: relative;
  left: 57px;
  background: linear-gradient(rgb(94, 94, 94), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sideBarBrandStrong {
  position: relative;
  left: 44px;
}

.sideBarCategoryStrong {
  position: relative;
  left: 33px;
}

.sideBarConditionStrong {
  position: relative;
  left: 30px;
}

.sideBarBrandDiv {
  position: relative;
  left: 18px;
}

.sideBarCategoryDiv {
  position: relative;
  left: 18px;
}

.sideBarConditionDiv {
  position: relative;
  left: 18px;
}

.sideBarSubmitBtn {
  position: relative;
  left: 0px;
  top: 0px;
  background: rgb(208, 223, 233);
  width: 85%;
  height: 30px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(136, 134, 134);
  box-shadow: 0.5px 0.5px rgb(0, 0, 0);
}

/* ----------------- AUTH FORM ELEMENT ----------------- */
.email {
  position: relative;
  left: 37%;
  bottom: 5px;
}

.name {
  position: relative;
  left: 37.5%;
  bottom: 5px;
}

.password {
  position: relative;
  left: 31%;
  bottom: 5px;
}

.formName {
  align-self: center;
  position: relative;
  top: 50px;
}

.linkText {
  align-self: center;
  position: relative;
  bottom: 40px;
}

#logout {
  top: 0px;
  left: 0px;
}

.user-icon {
  position: relative;
  left: 5px;
  bottom: 1px;
}

.authForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.authFormDiv {
  box-sizing: content-box;
  height: 150%;
  padding: 0 20px;
  padding-top: 7px;
  margin-top: 20px;
  position: relative;
  left: 110px;
  width: 50%;
  background: linear-gradient(
    rgba(221, 221, 228, 0.7),
    rgba(243, 241, 241, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(0, 0, 0);
  opacity: 1;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.authSignInBtn {
  font-size: 13px;
  border-radius: 5px;
  width: 90px;
  height: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 223, 223, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(56, 56, 56);
  font-size: large;
  font-weight: bold;
  padding: 8px;
  width: 100%;
  height: 70%;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
}

/* ----------------- HOME PAGE ELEMENT ----------------- */
.hpLoggedInWelcome {
  color: rgb(10, 106, 250);
}

.top3FullDiv {
  background: linear-gradient(
    rgba(221, 221, 228, 0.7),
    rgba(243, 241, 241, 0.7)
  );
  opacity: 1;
  border-radius: 50px;
  box-shadow: 1.5px 1.5px rgb(107, 106, 106);
  margin: 0 50px;
  padding: 20px;
}

.top3Header {
  margin-bottom: 15px;
  background: linear-gradient(rgb(143, 143, 143), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 20px;
  font-size: 35px;
}

/* ----------------- ALL PRODUCT ------------------ */
.allProductFullDiv {
  background: linear-gradient(
    rgba(221, 221, 228, 0.7),
    rgba(243, 241, 241, 0.7)
  );
  opacity: 1;
  border-radius: 50px;
  box-shadow: 1.5px 1.5px rgb(107, 106, 106);
  margin: 0 50px;
  margin-top: 46px;
  padding: 20px;
  position: relative;
  bottom: 10px;
}

/* ----------------- PRODUCT CARD ------------------ */
.product-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-card {
  background-color: rgba(160, 160, 160, 1);
  opacity: 1;
  box-shadow: 1.5px 1.5px rgb(61, 60, 60);
  min-height: 350px;
  padding: 1em;
  margin: 10px;
  border-radius: 40px;
}

.productCardInsideDiv {
  height: 90%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}

.card-img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(196, 196, 196);
  box-shadow: 0.5px 0.5px rgb(58, 58, 58);
}

.noQtyText {
  color: rgb(90, 7, 7);
}

/* ----------------- SINGLE PRODUCT----------------- */
.single-prod-cont {
  background-color: lightgrey;
  display: flex;
  width: 70%;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  border-radius: 15px;
}

.single-image {
  width: 400px;
}

.singleProdBtnDiv {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.backBtn {
  font-size: medium;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

/* ----------------- ADD BUTTON ----------------- */
.addBtnDiv {
  display: flex;
  justify-content: center;
}

.addBtn {
  font-size: medium;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background: rgb(208, 223, 233);
  border-style: solid;
  border-color: rgb(136, 134, 134);
  box-shadow: 0.5px 0.5px rgb(0, 0, 0);
}

.addBtn:active {
  background-color: lightgreen;
}

/* ----------------- CART ELEMENT ----------------- */
.cartFullDiv {
  box-sizing: content-box;
  height: 100%;
  padding: 0 20px;
  padding-top: 7px;
  margin-top: 20px;
  position: relative;
  right: 170px;
  width: 112%;
  background: linear-gradient(
    rgba(221, 221, 228, 0.7),
    rgba(243, 241, 241, 0.7)
  );
  opacity: 1;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px rgb(107, 106, 106);
}

.cartProductDiv {
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 223, 223, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(0, 0, 0);
  min-height: 50px;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 25px;
}

.cartTotalDiv {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 224, 224, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 600px;
  height: 90px;
}

.cartBtnDiv {
  display: flex;
}

.cartName {
  text-align: center;
  position: relative;
  right: 30px;
  background: linear-gradient(rgb(143, 143, 143), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paymentLinkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 223, 223, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(56, 56, 56);
  font-size: medium;
  font-weight: bold;
  padding: 10px;
  width: 20%;
  height: 17.5px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  margin-right: 20px;
  top: 0px;
  left: 1px;
}

button.paymentLinkBtn.linkText {
  height: 40px;
  box-shadow: 1.5px 1.5px rgb(56, 56, 56);
}

#letsShopButton {
  position: relative;
  left: 1px;
  top: 0px;
}

.cartTotalItems {
  display: flex;
  justify-content: space-around;
}

.cartTotalTextDiv {
  margin-right: 10px;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.cartTotalText {
  font-size: 20px;
}

/* ----------------- CART ITEM ELEMENT ----------------- */
.cartItemFullDiv {
  display: flex;
  height: 15px;
  padding: 10px;
  width: 75%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.cartItemH4 {
  width: 200px;
}

.qty-btn {
  border-radius: 5px;
  margin-right: 3px;
  font-size: 14px;
}

/* ----------------- PAYMENT ACCOUNTS ----------------- */
.paymentActsDiv {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 224, 224, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(0, 0, 0);
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  margin: 25px 0;
}

.add-account .checkoutBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 223, 223, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(56, 56, 56);
  font-size: medium;
  font-weight: bold;
  padding: 10px;
  height: 30px;
  width: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  margin-right: 45px;
  margin-left: -10px;
  top: 0%;
}

.checkoutBtn:active {
  background-color: rgba(184, 0, 92, 0.8);
}

.checkoutBtnDiv {
  display: flex;
}

.paymentActBtnDiv {
  display: flex;
  width: 50%;
}

.paymentActBackBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 223, 223, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(56, 56, 56);
  font-size: medium;
  font-weight: bold;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  margin-right: 30px;
  top: 0px;
  left: 1px;
  bottom: 10%;
}

.stripeCheckoutDiv {
  width: 150px;
  height: 31.1px;
  padding: 0px;
  margin-right: 10px;
  padding-bottom: -15px;
  border: #333;
  box-shadow: 5px 5px black;
}

.checkoutBtnBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 223, 223, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(56, 56, 56);
  font-size: medium;
  font-weight: bold;
  padding: 10px;
  height: 30px;
  width: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  margin-right: 30px;
  top: 0%;
}

/* ----------------- PAYMENT FORM ----------------- */
.payments-title {
  background: linear-gradient(rgb(143, 143, 143), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

.add-payment {
  text-decoration: underline;
  font-size: 19px;
}

.paymentFormFullDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw;
  min-height: 100px;
  padding: 10px;
  margin: 15px 0;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 224, 224, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(0, 0, 0);
  border-radius: 10px;
}

.paymentFormInsideDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 20px;
  justify-content: space-around;
}

.paymentFormDropDown {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-direction: column;
  align-items: center;
  width: 170px;
  margin: 20px;
}

.paymentFormSelect {
  width: 155px;
  height: 25px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 1px 1px black;
  border-color: rgb(110, 110, 110);
  border-width: 2px;
}

.paymentFormForm {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 200px;
  margin-bottom: 32px;
}

.paymentFormInput {
  height: 18px;
  border-radius: 5px;
  border-color: rgb(110, 110, 110);
}

.paymentFormButton {
  background: linear-gradient(
    rgba(184, 184, 184, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  border-color: rgb(110, 110, 110);
  border-width: 2px;
  box-shadow: 1px 1px rgb(102, 102, 102);
  font-size: 10px;
  font-weight: 700;
  align-self: center;
  border-radius: 5px;
  width: 152.5px;
  height: 22px;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 14px;
}

.add-account-name {
  position: relative;
  font-size: 13px;
  font-weight: 700;
}

.add-type {
  position: relative;
  font-size: 13px;
  font-weight: 700;
}

/* ----------------- PAYMENT CARD ----------------- */

.paymentCardFullDiv {
  height: 25px;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
}

.paymentCardCheckbox {
  transform: scale(1.2);
}

.paymentCardInsideDiv {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.paymentCardSpan {
  font-weight: bold;
}

.paymentCardLabel {
  width: 200px;
}

/* -----------------TABLE CART ---------------- */

thead {
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(145, 145, 145, 0.7)
  );
}

table.tg {
  box-shadow: 1.5px 1.5px rgb(0, 0, 0);
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: rgb(65, 47, 47);
  border-radius: 1px;
  width: 100%;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #aaa;
  color: #333;
  background-color: #fff;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 8px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #aaa;
  color: #fff;
  background: rgba(0, 120, 154, 0.927);
}

.tg .tg-cly1 {
  text-align: left;
  vertical-align: middle;
  font-size: 17px;
}

.tg .tableHeader {
  text-align: center;
}

.tg-cly1 {
  width: 100px;
  height: 40px;
}

.qty-row {
  margin-right: 5px;
}

/* ----------------- USER PROFILE----------------- */
.profile-flex-box {
  box-sizing: content-box;
  height: 150%;
  padding: 0 20px;
  padding-top: 7px;
  margin-top: 20px;
  position: relative;
  left: 110px;
  width: 50%;
  background: linear-gradient(
    rgba(221, 221, 228, 0.7),
    rgba(243, 241, 241, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(0, 0, 0);
  opacity: 1;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profileDiv {
  margin-top: 0px;
  margin-bottom: 16px;
  background: linear-gradient(rgb(143, 143, 143), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  justify-content: center;
  align-self: center;
}

.edit-cart {
  color: black;
  float: right;
  background: rgba(208, 223, 233, 0.8);
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(136, 134, 134);
  box-shadow: 0.5px 0.5px rgb(0, 0, 0);
  font-size: medium;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  position: relative;
  right: 16.5%;
  top: 12px;
  margin-bottom: 40px;
}

.edit-profile {
  color: black;
  float: right;
  background: rgba(208, 223, 233, 0.8);
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(136, 134, 134);
  box-shadow: 0.5px 0.5px rgb(0, 0, 0);
  font-size: medium;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  position: relative;
  right: 16.5%;
  top: 12px;
  margin-bottom: 40px;
}

/* ----------------- UPDATE PROFILE ----------------- */

.update-profile-div {
  box-sizing: content-box;
  height: 450px;
  padding: 0 20px;
  padding-top: 7px;
  margin-top: 20px;
  position: relative;
  left: 110px;
  width: 50%;
  background: linear-gradient(
    rgba(221, 221, 228, 0.7),
    rgba(243, 241, 241, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(0, 0, 0);
  opacity: 1;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.update-form-div {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.update-name {
  position: relative;
  bottom: 8%;
}

.update-email {
  position: relative;
  bottom: 15%;
}

.update-name-div {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  top: 10px;
}

.update-email-div {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  bottom: 5%;
}

.update-profile {
  background-color: rgb(179, 101, 114);
  margin: 50px auto;
  width: 35vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.updateTitle {
  background: linear-gradient(rgb(143, 143, 143), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}

.updateSubmit {
  font-size: 13px;
  border-radius: 5px;
  width: 90px;
  height: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 223, 223, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(56, 56, 56);
  font-size: large;
  font-weight: bold;
  padding: 8px;
  width: 20%;
  height: 7%;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  position: relative;
  bottom: 9%;
}

/* -----------------ADMIN LIST USERS AND PRODUCTS ------------------ */
.user-list-cont {
  display: flex;
  flex-direction: column;
  width: 72vw;
}

.user-col {
  display: flex;
  width: 72vw;
  background-color: rgba(172, 172, 206, 0.7);
  height: 30px;
  align-items: center;
}

.user-col h3 {
  width: 20vw;
  padding: 0 20px;
}

.user-list-row {
  display: flex;
  width: 72vw;
  justify-content: space-evenly;
}

.user-list-row h4 {
  width: 20vw;
  padding: 0 20px;
  border-bottom: 2px solid gray;
}

.prod-list-cont {
  display: flex;
  flex-direction: column;
}

.prod-col {
  display: flex;
  width: 72vw;
  background-color: rgba(172, 172, 206, 0.7);
  height: 30px;
  align-items: center;
}

.prod-list-row {
  display: flex;
  width: 72vw;
  height: 70px;
  justify-content: space-evenly;
  align-content: center;
}

.prod-col h3 {
  width: 12vw;
  padding: 0 15px;
}

.prod-list-row h4 {
  width: 12vw;
  padding: 0 15px;
  border-bottom: 2px solid gray;
}

.prod-list-row img {
  width: 6vw;
  padding: 0 15px;
  border-bottom: 2px solid gray;
}

/* -----------------ORDER HISTORY ------------------ */

.fullOrderHistoryDiv {
  margin-top: 7%;
  position: relative;
  right: 100px;
}

.order-history-flex {
  background-color: blue;
  display: flexbox;
  flex-direction: row;
  justify-content: space-around;
  width: 50rem;
  border-radius: 10px;
}

.product-table-head {
  background: linear-gradient(
    rgba(221, 221, 228, 0.7),
    rgba(243, 241, 241, 0.7)
  );
  color: black;
}

.align-words {
  text-align: left;
  vertical-align: middle;
}

.th.align-words {
  color: black;
}

.align-center {
  text-align: center;
}

.product-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 10px;
}

.product-table td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background-color: white;
}

.product-table th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: rgb(151, 151, 151);
}

.cart-center {
  text-align: left;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  padding: 10px 0.65%;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  width: 98.9%;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 223, 223, 0.7)
  );
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 1.5px 1.5px rgb(99, 98, 98);
}

.cart-margin {
  padding: 10px 1.7%;
  background: linear-gradient(
    rgba(221, 221, 228, 0.7),
    rgba(243, 241, 241, 0.7)
  );
  width: 96.8%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1.5px 1.5px rgb(99, 98, 98);
}

.view-full {
  color: black;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 223, 223, 0.7)
  );
  font-size: medium;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 20%;
  height: 50px;
  border-width: 1px;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  box-shadow: 1.5px 1.5px rgb(99, 98, 98);
}

.space {
  padding: 2%;
}

.no-order-history {
  font-size: 35px;
  align-self: center;
  position: relative;
  left: 285px;
  top: 90px;
  background: linear-gradient(rgb(143, 143, 143), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -------------------ADMIN-HOME ----------- */

.administrator {
  color: rgb(77, 76, 76);
}

.all-registered-users {
  color: rgb(77, 76, 76);
}

.product-list {
  color: rgb(77, 76, 76);
}

.admin-page {
  box-sizing: content-box;
  height: 100%;
  padding: 0 20px;
  padding-top: 7px;
  margin-top: 20px;
  position: relative;
  right: 100px;
  width: 90%;
  background: linear-gradient(
    rgba(221, 221, 228, 0.7),
    rgba(243, 241, 241, 0.7)
  );
  opacity: 1;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px rgb(107, 106, 106);
}

.addOneBtn {
  position: relative;
  left: 0px;
  top: 0px;
  background: rgb(208, 223, 233);
  width: 85%;
  height: 30px;
  font-size: medium;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(136, 134, 134);
  box-shadow: 0.5px 0.5px rgb(0, 0, 0);
}

.addTwoBtn {
  position: relative;
  left: 0px;
  top: 0px;
  background: rgb(208, 223, 233);
  width: 85%;
  height: 30px;
  font-size: medium;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(136, 134, 134);
  box-shadow: 0.5px 0.5px rgb(0, 0, 0);
}

.addOneBtn:focus {
  background: #dcdfe9;
}

.addTwoBtn:focus {
  background: #dcdfe9;
}

.twoNames {
  display: flex;
  margin-top: 2em;
  width: 72vw;
}

.addNewProd {
  position: relative;
  left: 0px;
  top: 0px;
  background: rgb(208, 223, 233);
  width: 15%;
  height: 30px;
  font-size: medium;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(136, 134, 134);
  box-shadow: 0.5px 0.5px rgb(0, 0, 0);
}

.addNewProdText {
  color: black;
}

.form-prod-cont {
  width: 33vw;
  background-color: rgba(172, 172, 206, 0.7);
  box-shadow: 1px 1px black;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  left: 200px;
}

.add-product {
  background-color: rgba(172, 172, 206, 0.7);
}

.form-prod-cont h2 {
  align-self: center;
}

.form-prod label {
  margin-right: 1em;
}
.form-prod button {
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  width: 70px;
  align-self: center;
  background-color: #dcdfe9;
  border-radius: 10px;
  margin: 0 0 3px 10em;
  margin-bottom: 20px;
  position: relative;
  left: 39.85%;
}

.form-input {
  height: 12px;
  width: 20em;
  position: relative;
  left: 10px;
}

.add-new-prod-title {
  color: rgb(77, 76, 76);
  align-self: center;
}

#condition {
  height: 20px;
  width: 275px;
  border-radius: 5px;
  border: #333;
  border-style: solid;
  border-width: 2px;
  box-shadow: 1px 1px rgb(134, 134, 134);
}

.form-pair {
  display: flex;
}

.form-pair label {
  width: 5em;
}

.loginOrSignupDiv {
  box-sizing: content-box;
  height: 150%;
  padding: 0 20px;
  padding-top: 7px;
  margin-top: 20px;
  position: relative;
  left: 110px;
  width: 50%;
  background: linear-gradient(
    rgba(221, 221, 228, 0.7),
    rgba(243, 241, 241, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(0, 0, 0);
  opacity: 1;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup.button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 223, 223, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(56, 56, 56);
  font-size: large;
  font-weight: bold;
  padding: 10px;
  width: 20%;
  height: 10%;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
}

.login.button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(172, 172, 206, 0.7),
    rgba(224, 223, 223, 0.7)
  );
  box-shadow: 1.5px 1.5px rgb(56, 56, 56);
  font-size: large;
  font-weight: bold;
  padding: 10px;
  width: 20%;
  height: 10%;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
}

.or {
  align-self: center;
  font-weight: bolder;
  background: linear-gradient(rgb(77, 76, 76), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loginLink {
  background: linear-gradient(rgb(77, 76, 76), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signupLink {
  background: linear-gradient(rgb(77, 76, 76), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
