body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

/* ----------------- GLOBAL ELEMENT ----------------- */
.belowNavDiv {
  display: flex;
}

.routeFullDiv {
  margin-left: 10px;
  padding: 15px;
  width: 100%;
}

.linkText {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.linkText:hover {
  text-decoration: underline;
}

.headerDiv {
  text-decoration: underline;
  margin-bottom: 15px;
}

/* ----------------- NAVBAR ELEMENT ----------------- */
.navBarDiv {
  position: sticky;
  top: 0;
  background-color: rgba(160, 160, 160, 1);
  height: 7vh;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.cart-img {
  margin-right: 2em;
}

.cart-qty-div {
  display: flex;
  align-items: center;
}

.cart-qty {
  color: rgb(164, 237, 150);
  text-align: center;
}

.qty-container {
  background-color: rgba(0, 120, 154, 0.927);
  width: 25px;
  border-radius: 20px;
}

/* ----------------- SIDEBAR ELEMENT ----------------- */
.sideBarDiv {
  position: sticky;
  top: 60px;
  background-color: lightpink;
  width: 10vw;
  min-width: 175px;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10px;
}

.sideBarSelect {
  width: 80%;
  font-size: medium;
}

.sideBarSubmitBtn {
  background-color: lightseagreen;
  width: 85%;
  height: 30px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

/* ----------------- AUTH FORM ELEMENT ----------------- */
.signInFullDiv {
  display: flex;
}

.authFormDiv {
  margin: 50px auto;
  width: 35vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.login-authFormDiv {
  background-color: orange;
}

.signup-authFormDiv {
  background-color: lightskyblue;
}

.authSignInBtn {
  font-size: 13px;
  border-radius: 5px;
  width: 90px;
  height: 20px;
}

/* ----------------- HOME PAGE ELEMENT ----------------- */
.hpLoggedInWelcome {
  color: rgba(0, 152, 195, 1);
}

/* ----------------- ALL PRODUCT ------------------ */
.allProductFullDiv {
  padding: 0 15px;
}

/* ----------------- PRODUCT CARD ------------------ */
.product-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-card {
  background-color: rgb(225, 205, 209);
  min-height: 350px;
  padding: 1em;
  margin: 10px;
  border-radius: 40px;
}

.productCardInsideDiv {
  height: 90%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}

.card-img {
  width: 200px;
  height: 150px;
}

/* ----------------- SINGLE PRODUCT----------------- */
.single-prod-cont {
  background-color: lightgrey;
  display: flex;
  width: 70%;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  border-radius: 15px;
}

.single-image {
  width: 400px;
}

.singleProdBtnDiv {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.backBtn {
  font-size: medium;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

/* ----------------- ADD BUTTON ----------------- */
.addBtnDiv {
  display: flex;
  justify-content: center;
}

.addBtn {
  font-size: medium;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

.addBtn:active {
  background-color: lightgreen;
}

/* ----------------- CART ELEMENT ----------------- */
.cartFullDiv {
  padding: 0 10px;
}

.cartProductDiv {
  background-color: lightgray;
  min-height: 50px;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 25px;
}

.cartTotalDiv {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 120, 154, 0.927);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.cartBtnDiv {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.paymentLinkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 152, 195, 0.5), rgba(234, 234, 234, 1));
  font-size: medium;
  font-weight: bold;
  height: 30px;
  width: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
}

/* ----------------- CART ITEM ELEMENT ----------------- */
.cartItemFullDiv {
  display: flex;
  height: 15px;
  padding: 10px;
  width: 75%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.cartItemH4 {
  width: 200px;
}

/* ----------------- PAYMENT ACCOUNTS ----------------- */
.paymentActsDiv {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  width: 70%;
  border-radius: 10px;
  padding: 10px;
  margin: 25px 0;
}

.checkoutBtn {
  background: linear-gradient(rgba(0, 152, 195, 0.5), rgba(234, 234, 234, 1));
  font-size: medium;
  font-weight: bold;
  height: 30px;
  width: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
}

.checkoutBtn:active {
  background-color: rgba(184, 0, 92, 0.8);
}

.paymentActBtnDiv {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

/* ----------------- PAYMENT CARD ----------------- */
.paymentCardFullDiv {
  background-color: lightskyblue;
  height: 35px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
}

/* -----------------TABLE CART ---------------- */
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: rgb(65, 47, 47);
  width: 100%;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #aaa;
  color: #333;
  background-color: #fff;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #aaa;
  color: #fff;
  background: rgba(0, 120, 154, 0.927);
}

.tg .tg-cly1 {
  text-align: left;
  vertical-align: middle;
}

.qty-row {
  margin-right: 5px;
}

/* ----------------- USER PROFILE----------------- */
.profile-flex-box {
  background-color: rgb(179, 101, 114);
  margin: 50px auto;
  width: 35vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.edit-cart {
  color: black;
  float: right;
  background-color: rgb(151, 151, 151);
  font-size: medium;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

.edit-profile {
  color: black;
  float: right;
  background-color: rgb(151, 151, 151);
  font-size: medium;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

/* ----------------- UPDATE PROFILE ----------------- */

.update-profile {
  background-color: rgb(179, 101, 114);
  margin: 50px auto;
  width: 35vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

/* -----------------ADMIN LIST USERS and PRODUCTS ------------------ */
.user-list-cont {
  display: flex;
  flex-direction: column;
}

.user-col {
  display: flex;
  width: 60vw;
  background-color: rgb(111, 111, 189);
  height: 30px;
  align-items: center;
}

.user-col h3 {
  width: 20vw;
  padding: 0 20px;
}

.user-list-row {
  display: flex;
  width: 60vw;
  justify-content: space-evenly;
}

.user-list-row h4 {
  width: 20vw;
  padding: 0 20px;
  border-bottom: 2px solid gray;
}

.prod-list-cont {
  display: flex;
  flex-direction: column;
}

.prod-col {
  display: flex;
  width: 72vw;
  background-color: rgb(111, 111, 189);
  height: 30px;
  align-items: center;
}

.prod-list-row {
  display: flex;
  width: 72vw;
  height: 55px;
  justify-content: space-evenly;
  align-content: center;
}

.prod-col h3 {
  width: 12vw;
  padding: 0 15px;
}

.prod-list-row h4 {
  width: 12vw;
  padding: 0 15px;
  border-bottom: 2px solid gray;
}

.prod-list-row img {
  width: 6vw;
  padding: 0 15px;
  border-bottom: 2px solid gray;
}

/* -----------------ORDER HISTORY ------------------ */

.order-history-flex {
  background-color: blue;
  display: flexbox;
  flex-direction: row;
  justify-content: space-around;
  width: 50rem;
  border-radius: 10px;
  /* font-size: medium;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-radius: 5px; */
}

.align-words {
  text-align: left;
  vertical-align: middle;
}

.product-table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: rgb(65, 47, 47);
  width: 80%;
}
